@font-face {
  font-family: "element-icons"; /* Project id 4280265 */
  src: url('iconfont.woff2?t=1696925348412') format('woff2'),
       url('iconfont.woff?t=1696925348412') format('woff'),
       url('iconfont.ttf?t=1696925348412') format('truetype');
}

.element-icons {
  font-family: "element-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-FullScreenquanping:before {
  content: "\e769";
}

